

.form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 5px #6990d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    height: 35vh;
    width: 30vw;

}

.form__number{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, select {
    border-radius: 5px;
    padding: .5rem;
    border: 1px solid #add5fa;
    outline: none;
    
}

.form__number-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5px;
}

.form__number-group input {
    
    width: 100%;
}

.form__name{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    /* align-items: center; */
}
.form__name input {
    width: 100%;
    margin-top: 5px;
}

.form__date-cvc{

    display: flex;
    width: 100%;
    
    flex-wrap: wrap;

    /* justify-content: space-around; */
}
.form__box-date{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
}
.form__date-cvc select {
    padding: 0;
    height: 2.1rem;
}

.form__cvc{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.form__cvc input{
    
    width: 50%;
}

.group__select{
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
}

.group__select input  {
    display: flex;
    /* justify-content: space-around; */
    width: 100%;
}
.group__select select:first-child {
    margin-right: 3rem;
} 
.group__select div {
    display: flex;
    flex-direction: column;
}

form button {
    padding: 10px 5px; 
    margin-top: 1rem;
    border: none;
    background-color: #fa5f49;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    
}

form button:hover {
    cursor: pointer;
    
}


span {
    color: #fa5f49;
    font-style: normal;
    font-weight: 700;
    font-size: .8rem;

}

.table__cards{
    border-collapse: collapse;
    margin-top: 2rem;
    width: 70%;
    background-color: #ddd;
    border-radius: 10px;

}

.table__cards td, .table__cards th {
    border: 1px solid #6990d3;
    border-radius: 10px;
    padding: 8px;
}


@media (max-width: 1100px){
 
   .form__box-date{
    
        width: 100%;
    }
    .form__cvc{
        display: flex;
        justify-content: center;
       width: 100%;
    }
    .form__cvc input{
        
        width: 50%;
    }
    
}

@media (max-width: 390px){

    .form {
        
        height: 50vh;
        width: 60vw;

    }
    .form__number{
        margin-top: 20px;
    }
    .form__cvc{
        display: flex;
        justify-content: center;
       width: 100%;
    }
    .form__cvc input{
        
        width: 50%;
    }
    
}